<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.myideaway.cordova.umeng.share" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>UMeng Share Plugin</name>
    <description>UMeng share for cordova plugin</description>
    <author>Tommy Chen</author>
    <keywords>umeng,share,cordova</keywords>
    <license>Apache 2.0 License</license>
    <preference name="API_KEY"/>
    <engines>
        <engine name="cordova" version="&gt;=4.0"/>
    </engines>
    <js-module name="UMengShare" src="www/umeng-share.js">
        <clobbers target="UMengShare"/>
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="UMengSharePlugin">
                <param name="android-package" value="com.myideaway.cordova.umeng.share.UMengSharePlugin"/>
            </feature>
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.READ_LOGS"/>
            <uses-permission android:name="android.permission.CALL_PHONE"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.GET_TASKS"/>
            <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
            <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
            <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
            <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <!-- 微信平台 -->
            <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.myideaway.cordova.umeng.share.WXEntryActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
            <!-- 新浪微博 -->
            <activity android:configChanges="keyboardHidden|orientation" android:name="com.myideaway.cordova.umeng.share.WBShareActivity" android:screenOrientation="portrait">
                <intent-filter>
                    <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
            <activity android:configChanges="keyboardHidden|orientation" android:exported="false" android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser" android:windowSoftInputMode="adjustResize"/>
            <service android:exported="false" android:name="com.sina.weibo.sdk.net.DownloadService"/>
            <!-- QQ、Qzone -->
            <activity android:launchMode="singleTask" android:name="com.tencent.tauth.AuthActivity" android:noHistory="true">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                    <category android:name="android.intent.category.BROWSABLE"/>
                    <data android:scheme="tencent100424468"/>
                </intent-filter>
            </activity>
            <activity android:name="com.tencent.connect.common.AssistActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
            <meta-data android:name="UMENG_APPKEY" android:value="$API_KEY"/>
        </config-file>
        <!-- libs -->
        <source-file src="libs/android/android-support-v4.jar" target-dir="libs"/>
        <source-file src="libs/android/httpmime-4.1.3.jar" target-dir="libs"/>
        <source-file src="libs/android/mta-sdk-1.6.2.jar" target-dir="libs"/>
        <source-file src="libs/android/open_sdk_r5509.jar" target-dir="libs"/>
        <source-file src="libs/android/SocialSDK_QQZone_3.jar" target-dir="libs"/>
        <source-file src="libs/android/SocialSDK_Sina.jar" target-dir="libs"/>
        <source-file src="libs/android/SocialSDK_tencentWB_1.jar" target-dir="libs"/>
        <source-file src="libs/android/SocialSDK_tencentWB_2.jar" target-dir="libs"/>
        <source-file src="libs/android/SocialSDK_tencentWB_3.jar" target-dir="libs"/>
        <source-file src="libs/android/SocialSDK_WeiXin_1.jar" target-dir="libs"/>
        <source-file src="libs/android/SocialSDK_WeiXin_2.jar" target-dir="libs"/>
        <source-file src="libs/android/umeng_social_sdk.jar" target-dir="libs"/>
        <source-file src="libs/android/weiboSDKCore_3.1.2.jar" target-dir="libs"/>
        <source-file src="libs/android/arm64-v8a/libweibosdkcore.so" target-dir="libs/arm64-v8a"/>
        <source-file src="libs/android/armeabi/libweibosdkcore.so" target-dir="libs/armeabi"/>
        <source-file src="libs/android/armeabi-v7a/libweibosdkcore.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="libs/android/mips/libweibosdkcore.so" target-dir="libs/mips"/>
        <source-file src="libs/android/mips64/libweibosdkcore.so" target-dir="libs/mips64"/>
        <source-file src="libs/android/x86/libweibosdkcore.so" target-dir="libs/x86"/>
        <source-file src="libs/android/x86_64/libweibosdkcore.so" target-dir="libs/x86_64"/>
        <!-- src -->
        <source-file src="src/android/WXEntryActivity.java" target-dir="src/com/myideaway/cordova/umeng/share"/>
        <source-file src="src/android/UMengSharePlugin.java" target-dir="src/com/myideaway/cordova/umeng/share"/>
        <!-- res/anim-->
        <source-file src="res/android/anim/umeng_socialize_fade_in.xml" target-dir="res/anim"/>
        <source-file src="res/android/anim/umeng_socialize_fade_out.xml" target-dir="res/anim"/>
        <source-file src="res/android/anim/umeng_socialize_shareboard_animation_in.xml" target-dir="res/anim"/>
        <source-file src="res/android/anim/umeng_socialize_shareboard_animation_out.xml" target-dir="res/anim"/>
        <source-file src="res/android/anim/umeng_socialize_slide_in_from_bottom.xml" target-dir="res/anim"/>
        <source-file src="res/android/anim/umeng_socialize_slide_out_from_bottom.xml" target-dir="res/anim"/>
        <!-- res/layout-->
        <source-file src="res/android/layout/umeng_bak_at_list_item.xml" target-dir="res/layout"/>
        <source-file src="res/android/layout/umeng_bak_at_list.xml" target-dir="res/layout"/>
        <source-file src="res/android/layout/umeng_bak_platform_item_simple.xml" target-dir="res/layout"/>
        <source-file src="res/android/layout/umeng_bak_platform_selector_dialog.xml" target-dir="res/layout"/>
        <source-file src="res/android/layout/umeng_socialize_base_alert_dialog_button.xml" target-dir="res/layout"/>
        <source-file src="res/android/layout/umeng_socialize_base_alert_dialog.xml" target-dir="res/layout"/>
        <source-file src="res/android/layout/umeng_socialize_bind_select_dialog.xml" target-dir="res/layout"/>
        <source-file src="res/android/layout/umeng_socialize_failed_load_page.xml" target-dir="res/layout"/>
        <source-file src="res/android/layout/umeng_socialize_full_alert_dialog_item.xml" target-dir="res/layout"/>
        <source-file src="res/android/layout/umeng_socialize_full_alert_dialog.xml" target-dir="res/layout"/>
        <source-file src="res/android/layout/umeng_socialize_full_curtain.xml" target-dir="res/layout"/>
        <source-file src="res/android/layout/umeng_socialize_oauth_dialog.xml" target-dir="res/layout"/>
        <source-file src="res/android/layout/umeng_socialize_post_share.xml" target-dir="res/layout"/>
        <source-file src="res/android/layout/umeng_socialize_shareboard_item.xml" target-dir="res/layout"/>
        <source-file src="res/android/layout/umeng_socialize_simple_spinner_item.xml" target-dir="res/layout"/>
        <source-file src="res/android/layout/umeng_socialize_titile_bar.xml" target-dir="res/layout"/>
        <!-- res/values-->
        <source-file src="res/android/values/umeng_socialize_colors.xml" target-dir="res/values"/>
        <source-file src="res/android/values/umeng_socialize_strings.xml" target-dir="res/values"/>
        <source-file src="res/android/values/umeng_socialize_style.xml" target-dir="res/values"/>
        <!-- res/drawable-->
        <source-file src="res/android/drawable/sina_logo.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_action_back_normal.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_action_back_selected.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_action_back.xml" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_at_button.xml" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_at_normal.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_at_selected.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_bind_bg.9.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_button_blue.9.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_button_grey_blue.xml" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_button_grey.9.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_button_login_normal.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_button_login_pressed.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_button_login.xml" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_button_red_blue.xml" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_button_red.9.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_button_white_blue.xml" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_button_white.9.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_default_avatar.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_douban_off.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_douban_on.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_facebook.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_fetch_image.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_follow_check.xml" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_follow_off.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_follow_on.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_google.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_light_bar_bg.9.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_location_ic.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_location_off.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_location_on.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_nav_bar_bg.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_oauth_check_off.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_oauth_check_on.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_oauth_check.xml" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_qq_off.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_qq_on.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_qzone_off.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_qzone_on.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_refersh.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_renren_off.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_renren_on.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_search_icon.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_shape_solid_black.xml" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_shape_solid_grey.xml" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_share_to_button.xml" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_share_transparent_corner.xml" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_shareboard_item_background.xml" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_sidebar_normal.xml" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_sidebar_selected.xml" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_sidebar_selector.xml" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_sina_off.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_sina_on.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_title_back_bt_normal.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_title_back_bt_selected.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_title_back_bt.xml" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_title_right_bt_normal.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_title_right_bt_selected.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_title_right_bt.xml" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_title_tab_button_left.xml" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_title_tab_button_right.xml" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_title_tab_left_normal.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_title_tab_left_pressed.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_title_tab_right_normal.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_title_tab_right_pressed.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_twitter.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_tx_off.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_tx_on.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_wechat_gray.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_wechat.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_window_shadow_pad.xml" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_wxcircle_gray.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_wxcircle.png" target-dir="res/drawable"/>
        <source-file src="res/android/drawable/umeng_socialize_x_button.png" target-dir="res/drawable"/>
        <!-- res/drawable-hdpi -->
        <source-file src="res/android/drawable-hdpi/umeng_socialize_light_bar_bg_pad.9.png" target-dir="res/drawable-hdpi"/>
        <source-file src="res/android/drawable-hdpi/umeng_socialize_nav_bar_bg_pad.9.png" target-dir="res/drawable-hdpi"/>
        <source-file src="res/android/drawable-hdpi/umeng_socialize_oauth_check_off.png" target-dir="res/drawable-hdpi"/>
        <source-file src="res/android/drawable-hdpi/umeng_socialize_oauth_check_on.png" target-dir="res/drawable-hdpi"/>
        <source-file src="res/android/drawable-hdpi/umeng_socialize_share_music.png" target-dir="res/drawable-hdpi"/>
        <source-file src="res/android/drawable-hdpi/umeng_socialize_share_pic.png" target-dir="res/drawable-hdpi"/>
        <source-file src="res/android/drawable-hdpi/umeng_socialize_share_video.png" target-dir="res/drawable-hdpi"/>
    </platform>
</plugin>